# dependencies
/node_modules
/.pnp
.pnp

# testing
/coverage

# build
/dist
/build

# env
.env
.env.development
.env.local
.env.*.local

# misc
.DS_Store
*.log

# Firebase CLI caches
.firebase/

# Firebase Emulator Suite
firestore-debug.log
ui-debug.log
firebase-debug.*.log
*-debug.log

# Vite
/src/assets/*/*.map
/public/*/*.map

FULLSPEC.md
